/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.about-left {
	text-align: left;
	font-size: 1.5em;
}

.about-right {
	text-align: right;
	font-size: 1.5em;
}

.thanks {
	padding-bottom: 1em;
}

.welcome {
	padding-top: 7em;
	padding-bottom: 7em;
}